@media screen and (max-width:540px){
    .SearchForm{
        display: flex;
        flex-direction: column
    }

    .SearchForm-button{
        background-color:#dcd8b8;
    }
}


@media screen and (min-width:992px){
    .SearchForm {
        width:960px;
        margin:0 auto;
    }

    .SearchForm-heading {
        font-size: 60px;
    }
    .SearchForm-sub-heading{
        font-size: 50px;
    }
    .SearchForm-form {
        width:100%;
    }
    .SearchForm-form input, select {
        width:100%;
        height:35px; 
        outline:none;
        font-size: 16px;
        padding-left:10px;
        border-radius: none;
        margin-bottom: 10px;
        margin-top:10px;
    }

    .SearchForm-form input {
        width:98%;
        margin-bottom:20px;
        
    }

    select {
        -webkit-appearance: none;
        -webkit-border-radius: 0px;
    }

    .SearchForm-form select {
       width:960px;
    }
    .SearchForm-text {
        display: block;
        font-size: 20px;
        font-weight: 900;
       

    }
    .SearchForm-button {
        background-color:#f8f4ac;
        width:150px;
        height:50px;
        margin-top:20px;
        font-size:18px;
        outline: none;
    }
    .SearchForm-container {
        width:100%;
        height:auto;
        background-color: #52504b;
    }

    .SearchForm-table {
        width:100%;
        background-color: #52504b;
        height:450px;
    }

    h3 {
        font-size: 30px;
    }
    .SearchForm-table thead {
        text-align: left;
        line-height: 20px;
    }

   th, tr {
     padding:10px;
     font-size: 18px;
    }
    
}